/* Import required Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Kalam:400,700|Bree+Serif);
*{
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	font-weight: 300;
	font-size: 14px;
	line-height: 1.2;
}
body{
	background: #F05B23;
}
.h2, h2{
	font-family: "Bree Serif", Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color:#FFF;
	text-align:center;
}
/*********************
TINY MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (max-width: 479px) {
	.OS {
		 width: 100%; 
		 margin: 0; 
		 position: relative;
		 left:0;
		 padding: 10px 0;
	}
	input[type=submit]{
		 font-size: 15px;
		 line-height: 17px;
		 position: relative;
		 background-color: #0076BE;
		 display: block;
		 width:100%;
		 text-decoration: none;
		 color: #FFF;
		 font-weight: normal;
		 padding: 5px;
		 border-radius: 3px;
		 border: 0px none;
		 cursor: pointer;
		 transition: background-color 0.14s ease-in-out 0s;
		 margin:3px auto;
		 box-shadow: 0px 0px 10px #888;
	}
	input[type=submit]:hover, input[type=submit]:focus{
	 	background-color: #006CB4;
	}
	input[type=submit]:active{
		 top:1px;
		 background-color: #0069B1;
	}
	.MF > span > span > span > span:nth-child(2){
	 	width:100%;
	}
	input[type=text]{
		 display:block;
		 margin: 3px 0;
		 background: #FFF;
		 box-shadow: inset 1px 1px 2px 0px #888;
		 border: none;
		 width:100%;
		 padding: 5px;
		 font-size: 15px;
		 box-sizing: border-box;
	}
}

@media only screen and (min-width: 480px) and (max-width: 753px) {
	.OS {
		 width: 100%; 
		 margin: 0; 
		 position: relative;
		 left:0;
		 padding: 10px 0;
	}
	input[type=submit]{
		 font-size: 15px;
		 line-height: 17px;
		 position: relative;
		 background-color: #0076BE;
		 display: block;
		 width:100%;
		 text-decoration: none;
		 color: #FFF;
		 font-weight: normal;
		 padding: 5px;
		 border-radius: 3px;
		 border: 0px none;
		 cursor: pointer;
		 transition: background-color 0.14s ease-in-out 0s;
		 margin:3px auto;
		 box-shadow: 0px 0px 10px #888;
	}
	input[type=submit]:hover, input[type=submit]:focus{
	 	background-color: #006CB4;
	}
	input[type=submit]:active{
		 top:1px;
		 background-color: #0069B1;
	}
	.MF > span > span > span > span:nth-child(2){
	 	width:100%;
	}
	input[type=text]{
		 display:block;
		 margin: 3px 0;
		 background: #FFF;
		 box-shadow: inset 1px 1px 2px 0px #888;
		 border: none;
		 width:100%;
		 padding: 5px;
		 font-size: 15px;
		 box-sizing: border-box;
	}
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 754px) {
	.OS {
		 width: 100%; 
		 margin: 0; 
		 position: relative;
		 left:0;
		 padding: 3px 0;
	}
	input[type=submit]{
		 font-size: 15px;
		 line-height: 17px;
		 position: relative;
		 background-color: #0076BE;
		 display: block;
		 width:100%;
		 text-decoration: none;
		 color: #FFF;
		 font-weight: normal;
		 padding: 5px;
		 border-radius: 3px;
		 border: 0px none;
		 cursor: pointer;
		 transition: background-color 0.14s ease-in-out 0s;
		 margin:3px auto;
		 box-shadow: 0px 0px 10px #888;
	}
	input[type=submit]:hover, input[type=submit]:focus{
	 	background-color: #006CB4;
	}
	input[type=submit]:active{
		 top:1px;
		 background-color: #0069B1;
	}
	.MF > span > span:nth-child(1) {
		width:30%;
		float:left;
	}
	.MF > span > span:nth-child(2) {
		width:70%;
		float:left;
	}
	.MF > span > span:nth-child(2) > span > span:nth-child(2) {
		width:80%;
		float:left;
	}
	.MF > span > span:nth-child(2) > span > span:nth-child(2) > span, .MF > span > span:nth-child(2) > span > span:nth-child(2) > fieldset{
		width:50%;
		float:left;
	}
	.MF > span > span > span > span:nth-child(2){
	 	width:100%;
	}
	input[type=text]{
		 display:block;
		 margin: 3px 0;
		 background: #FFF;
		 box-shadow: inset 1px 1px 2px 0px #888;
		 border: none;
		 width:97%;
		 padding: 5px;
		 font-size: 15px;
		 box-sizing: border-box;
	}
	.ER{
		position: absolute;
		margin-top: 30px;
	}
}

